soap-api-practice/src/main/resources/xsd/service2/soapenv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ord="http://example.com/order" xmlns:com="http://example.com/common" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
  <xs:import namespace="http://example.com/common" schemaLocation="com.xsd"/>
  <xs:import namespace="http://example.com/order" schemaLocation="orderStatus.xsd"/>
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="soapenv:Header"/>
        <xs:element ref="soapenv:Body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="com:ResponseHeader"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ord:CreateOrderResponse"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
